.accordion-bar {
    background-color: rgb(220,220,220);
    color: rgb(85,85,85);
    width: 100%;
    padding: 8px;
    margin-top: 16px;
}
.accordion-bar-qr {
    background-color: #f000b4;
    color: rgb(255,255,255);
    width: 100%;
    padding: 8px;
    margin-top: 16px;
}
.inline-accordion {
    background-color: rgb(220,220,220);
    color: rgb(85,85,85);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 14px;
    padding-right: 14px;
    white-space: nowrap;
}
.inline-button {
    background-color: #f000b4;
    color: rgb(255,255,255);
    padding: 2px 8px;
    border-radius: 6px;
    gap: 10px;
    white-space: nowrap;
}
.inline-header {
    background-color: #f000b4;
    color: rgb(255,255,255);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 14px;
    padding-right: 14px;
    white-space: nowrap;
}
.phone-link {
    background-color: rgb(255,203,48);
    border-radius: 1em;
    padding: 4px 10px 4px 10px;
    white-space: nowrap;
}
.halfz-image {
    -ms-transform:scale(0.5) translate(-50%,-50%);
    -moz-transform:scale(0.5) translate(-50%,-50%);
    -o-transform:scale(0.5) translate(-50%,-50%);
    -webkit-transform:scale(0.5) translate(-50%,-50%);
    transform:scale(0.5) translate(-50%,-50%);
}
.inline-icon {
    color: #f000b4; 
    font-size: 1em; 
    margin-right: 4px;
    margin-left: 4px;
}
.inline-icon-white {
    color: #ffffff;
    background-color: #f000b4; 
    font-size: 1em; 
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 4px;
    margin-left: 4px;
}
.inline-icon-black {
    color: #000000;
    background-color: #ffffff; 
    font-size: 1em; 
    margin-right: 4px;
    margin-left: 4px;
}
.screen-shot {
    width: 100%;
    background-color: #EEF2F6;
    border-radius: 8px;
    padding: 1.5em;
}
.image-border {
}
.form-label {
    font-style: italic;
    font-weight: 600;
}
.inline-section {
    background-color: #f000b4;
    color: rgb(255,255,255);
    padding: 8px;
    margin-top: 16px;
    width:'100%';
    white-space: nowrap;
}
@media (min-width: 50rem) {
    .sticky-right {
        width: 300px;
        position: fixed;
        top: 60px;
        right: 5px;
        background-color: #FCFCFD;
        z-index: 100;
        border-radius: 8px;
        border: 1px solid grey;
        padding: 1em;
    }    
}
.sticky-gotop {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 5%;
    right: 5px;
    background-color: #FCE7F6;
    z-index: 100;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    align-content: center;
    display:grid;
}

.step-and-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.step-number {
    flex-wrap: wrap;
    flex: none;
    flex-grow: 0;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-content: center;
    width: 32px;
    height: 32px;
    padding: 0px;
    background: #121926;
    border-radius: 8px;
    color: white;
}
.snumber {
    margin-top: auto;
    margin-bottom: auto;
}
.step-title {
    flex-grow: 0;
    margin-left: 8px;
}
.up-next {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    width: 30%;
    background: #FEF6FB;
    border-radius: 8px;
}
.obj-attributes-title {
    box-sizing: border-box;
    color: rgb(42, 47, 69);
    display: flex;
    flex-wrap: wrap;
    font-family:'Segoe UI', Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    border-bottom-color: rgb(227, 232, 238);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.obj-attribs {
    align-items: baseline;
    border-bottom-color: rgb(227, 232, 238);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-sizing: border-box;
    color: rgb(42, 47, 69);
    display: block;
    font-family:'Segoe UI', Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px
}
.obj-pname {
    box-sizing: border-box;
    color: rgb(60, 66, 87);
    font-family: Menlo, Consolas, monospace;
    font-size: 13px;
    font-weight: 600;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
}
.obj-ptype {
    box-sizing: border-box;
    color: rgb(135, 146, 162);
    font-family:'Segoe UI', Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
    text-align: left;
}
.obj-descr {
    box-sizing: border-box;
    color: rgb(79, 86, 107);
    font-family:'Segoe UI', Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
    margin-bottom: 8px;
}
.api-code {
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: Menlo, Consolas, monospace;
    font-weight: 800;
    font-size: 22px;

}
.api-code-param {
    color: rgb(135, 146, 162);
}
.api-code-descr {
    margin-left: 10px;
    box-sizing: border-box;
    color: rgb(79, 86, 107);
    font-family:'Segoe UI', Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
    margin-bottom: 8px;

}
.api-rest {
    display: block;
    margin-left: 10px;
}
.curl-box {
    background: #233659;
    color: #f8f8f2;
    font-family: "Lekton", Consolas, Monaco, mnonospace;
    line-height: 1.5em;
    padding: 1em;
    margin: 0.5em;
    border-radius: .3em;
}
pre {
    counter-reset: line;
  }
  
  .curl-code {
    counter-increment: line;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    hyphens: none;
  }
  
  .curl-code::before {
    content: counter(line);
    display: inline-block;
    width: 1.5em; /* Fixed width */
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    margin-right: .5em;
    color: #888;
    -webkit-user-select: none;
  }
.api-params-lbl {
    margin-left: 10px;
    display: block;
}
.api-params {
    align-items: baseline;
    box-sizing: border-box;
    color: rgb(42, 47, 69);
    display: block;
    font-family:'Segoe UI', Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
}
.api-pname {
    box-sizing: border-box;
    color: rgb(84, 94, 138);
    font-family: Menlo, Consolas, monospace;
    font-size: 18px;
    font-weight: 600;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
    margin-bottom: 20px;
}
.api-ptype {
    box-sizing: border-box;
    color: rgb(135, 146, 162);
    font-family:'Segoe UI', Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    text-align: left;
}
.api-descr {
    box-sizing: border-box;
    color: rgb(79, 86, 107);
    font-family:'Segoe UI', Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}